/*mobile screens*/
@media only screen and (max-width: 750px) {

    body, html {
        margin: 0px; 
        padding: 0px;
        overflow-x: hidden;
        width: 100%;
    }

    * {
      ` margin:  0px;
        padding: 0px;
        box-sizing: border-box;
    }

    body {
        background-color: #2d2d2d;
        display: flex;
        flex-direction: column;
        height: 100vh;
        align-items: center;
    }

    .navigation {
        display: flex;
        border: 1px solid white;
        width: 90%;
        height: 120px;
        margin: 20px;
    }

    .piano {
        display: none;
    }

    .buttons-container {
        display: none;
    }
    .message {
        display: none;
    }
    
    .navigation {
        display: flex;
        color: white;
        font-family: sans-serif;
        margin: 20px;
        align-items: center;
        justify-content: space-between;
    }

    .title {
        display: flex;
        font-size: 40px;
        margin: 10px;
        width: 175px;
    }

    .main {
        border: 1px solid white;
        margin: 0px 20px 20px 20px;
        width: 90%;
    }

    .nav-link {
        display: none;
    }
}

/*desktop screens*/

@media only screen and (min-width: 750px) {

    body, html {
        margin: 0px; 
        padding: 0px;
    }

    * {
      ` margin:  0px;
        padding: 0px;
        box-sizing: border-box;
    }

    body {
        background-color: #2d2d2d;
        display: flex;
        height: 100vh;
    }

    .navigation {
        display: flex;
        flex-direction: column;
        color: white;
        font-family: sans-serif;
        border-right: 1px solid white;
        width: 16%;
        min-width: 200px;
        height: 95%;
        margin: 20px;
        margin-left: 40px;
    }

    .nav-link {
        margin: 10px;

    }

    .title {
        display: flex;
        font-size: 40px;
        margin: 10px;
    }

    .main {
        display: flex;
        flex-direction: row;
        justify-content: center; 
        align-items: center;
        border: 1px solid white;
        width: 80%;
        height: 95%;
        margin: 20px;
    }

    .piano {
        display: flex;
        flex-direction: column;
        display: flex;
        width: 500px;
        height: 300px;
        background-color: #3e3e3e;
    }

    .whiteKeys {
        display: flex;
        width: 100%; 
        height: 50%;
        padding-left: 45px;
        text-align: center;
        line-height: 150px;
        user-select: none;
    }

    .blackKeys {
        padding-left: 45px;
        display: flex;
        width: 100%;
        height: 50%;
        align-items: flex-end;
        text-align: center;
        line-height: 150px;
        user-select: none;
    }

    .whiteKey  {
        height: 75%;
        background-color: white;
        width: 30px;
        right: 30px;
        margin-right: 30px;
        border: 1px solid black;
        border-radius: 150px;
    }

    .whiteKey:nth-of-type(8) {
        margin-right: 0px;
    }


    .blackKey {
        background-color: black;
        height: 75%;
        margin-right: 10px;
        width: 30px;
        color: white;
        border-radius: 150px;
    }

    .blackKey:nth-of-type(1) {
        margin-left: 30px;
        margin-right: 30px;
    }

    .blackKey:nth-of-type(2) {
        margin-right: 90px;
    }

    .blackKey:nth-of-type(3) {
        margin-right: 30px;
    }

    .blackKey:nth-of-type(4) {
        margin-right: 30px;
    }

    .hover {
        background-color: purple;
    }

    .active {
        background-color: hotpink;
    }

    .buttons-container {
        display: flex;
        flex-direction: column;
        width: 100px;
        height: 300px;
        margin-left: 20px;
    }

    .button {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        width: 100%;
        height: 30px;
        border: 1px solid white;
        text-align: center;
        line-height: 30px;
        color: white;
    }

    .mode-menu {
        display: flex;
        flex-direction: column;
        width: 100%;
    }

    .message {
        display: flex;
        position: absolute;
        width: 200px;
        height: 100px;
        background-color: purple;
        align-self: flex-start;
        color: white;
    }
}
