* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    align-items: center;
    background-color: #2b2b2b;
    color: white;
    height: 100vh;
}

#title {
    margin-top: 30px;
}

.piano {
    display: flex;
    height: 300px;
    width: 400px;
    background-color: white;
}

.black-key{
    background-color: black; 
    width: 50px;
    color: black;
    margin-bottom: 100px;
    border: 1px solid black;
    z-index: 1;
}
.white-key{
    background-color: white;
    width: 50px;
    color: white;
    z-index: 0;
}

.main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100%;
    width: 100%;
}

.piano-container {
    display: flex;
    background-color: red;
    background-color: pink;
    height: 300px;
    align-self: center;
}

.hover {
    background-color: violet;
    color: violet;
}

.clicked {
    background-color: violet; 
    color: violet;
}

.activeNotes{
    margin: 20px;
    background-color: purple;
    width: 100px;
    height: 50px;
    text-align: center;
    line-height: 50px;
}

.resetButton {
    margin: 20px;
    background-color: purple;
    width: 100px;
    height: 50px;
    text-align: center;
    line-height: 50px;
}

.buttons-container {
    display: flex;
    justify-content: center;
}

.saveChordButton {
    margin: 20px;
    background-color: purple;
    width: 100px;
    height: 50px;
    text-align:center;
    line-height: 50px;
}

.drawChordButton {
    margin: 20px;
    background-color: purple;
    width: 100px;
    height: 50px;
    text-align: center;
    line-height: 50px;
}

.navigation{
    display: flex;
    width: 15%;
    height: 90%;
    border: 1px solid white;
    margin-left: 40px;
}

.title {
    width: 90%;
    margin: 5px;
    height: 5%;
    color: black;
    border: 1px solid white;
}
