* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background-color: #2b2b2b;
    color: white;
    height: 100vh;
}

#title {
    margin-top: 30px;
}

.piano {
    display: flex;
    height: 300px;
    width: 400px;
    background-color: white;
}

.black-key{
    background-color: black; 
    width: 50px;
    color: black;
    margin-bottom: 100px;
    border: 1px solid black;
    z-index: 1;
}
.white-key{
    background-color: white;
    width: 50px;
    color: white;
    z-index: 0;
}

.main {
    display: flex;
    background-color: red;
}

.hover {
    background-color: violet;
    color: violet;
}

.clicked {
    background-color: violet; 
    color: violet;
}

.activeNotes{
    margin: 20px;
    background-color: purple;
    width: 100px;
    height: 50px;
    text-align: center;
    line-height: 50px;
}

.resetButton {
    margin: 20px;
    background-color: purple;
    width: 100px;
    height: 50px;
    text-align: center;
    line-height: 50px;
}

.buttons-container {
    display: flex;
    justify-content: space-between;
}

.saveChordButton {

}

.column {

}
/*
.seperators {
    position: fixed;
    background-color: black;
    height: 100px;
    width: 2px;
    z-index: 3;
    margin-top: 227px;
    margin-left: 32px;
}
.seperators1 {
    position: fixed;
    background-color: black;
    height: 100px;
    width: 2px;
    z-index: 3;
    margin-top: 227px;
    margin-left: 166px;
}
.seperators2 {
    position: fixed;
    background-color: black;
    height: 100px;
    width: 2px;
    z-index: 3;
    margin-top: 227px;
    margin-left: 300px;
}

.seperators3 {
    position: fixed;
    background-color: black;
    height: 301px;
    width: 2px;
    z-index: 3;
    margin-top: 29px;
    margin-left: -65px;
}

.seperators4 {
    position: fixed;
    background-color: black;
    height: 100px;
    width: 2px;
    z-index: 3;
    margin-top: 227px;
    margin-left: -302px;
}

.seperators5 {
    position: fixed;
    background-color: black;
    height: 100px;
    width: 2px;
    z-index: 3;
    margin-top: 227px;
    margin-left: -169px;
}
*/
